h1 {
  text-align: center;
  background-color: red
  }
body{
  background-image:url("");
  background-repeat: no-repeat;
  background-size: 700px 1000px;
}
p{
  color:green
}
h2 {
  text-align: center;
  background-color: yellow;
}
